.react-tel-input {
  .form-control {
    width: 6rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .flag-dropdown {
    .button-secondary {
      border: none;
      background: transparent;
      outline: none;
    }
  }
}
