# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Building
node_modules
dist
dist-ssr
*.local
.next
out/
dist/
build/
cache/
.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests
coverage/
*.lcov

# Security

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*
env/
sensitive/
prisma/
src/server/model/
src/server/models/
src/app/api/**
!/src/app/api/test/
!/src/app/api/test/**
*.pem
*.key
*.crt
*.secret
firebase.json
firebase-debug.log
prisma/.env
prisma/migrations/
prisma/schema.prisma
db.sqlite
db.sqlite-journal
*.db
*.db-wal
*.db-shm
*.sql
*.pyc
__pycache__/
*.ipynb_checkpoints/
**/*-st.tsx
**/*-st.jsx
**/*-st.js
**/*-st.ts
**/*-st.cjs
**/*-st.mjs
**/*-st.cts
**/*-st.mts