@mixin box-rounded-squary($radius: 8px) {
  border-radius: $radius;
}
@mixin shadow-weak {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
@mixin transition-default($time: 0.2s) {
  transition: all $time ease-in-out;
}
